SKIPCHECK;
#Region : Rule Header
#############################
##~~ Start Rule File ~~##
#############################
# DEVELOPER : Steve Waterbury
# CUBE       : Merch PreOwned Warranty
# COMMENTS:
# Pre-Owned warranty calculations by category and channel.
# Warranty Dollars = Eligible Units * Attach Rate * Warranty AUR.
# Actual + Calculated-closed cells STET to stored loaded values.
# CHANGE HISTORY:
# 2026-04-03 Steve Waterbury Initial creation
# 2026-04-07 Steve Waterbury Added standard header/footer
# 2026-04-19 Steve Waterbury Added STET guard for Actual + Calculated-closed
#EndRegion

#Region : Version STET Guard
['Actual'] = N: STET;
[] = N: IF(ATTRS('Merch Version',!Merch Version,'Version_Type')@='Static',STET,CONTINUE);
[] = N: IF(ATTRS('Merch Version',!Merch Version,'Version_Type')@<>'Calculated',CONTINUE, IF(ATTRN('Merch Version',!Merch Version,'Last_Closed_Period')<>0 & ATTRN('Merch Time Period',!Merch Time Period,'Start_Date')<=ATTRN('Merch Version',!Merch Version,'Last_Closed_Period'), STET,CONTINUE));
#EndRegion

#Region : Warranty Calculation
['Warranty Dollars'] = N: ['Eligible Units'] * ['Attach Rate'] * ['Warranty AUR'];
#EndRegion

#Region : C-level Recalculations
['Attach Rate'] = C: IF(['Eligible Units'] = 0, 0, IF(['Warranty AUR'] = 0, 0, ['Warranty Dollars'] \ (['Eligible Units'] * ['Warranty AUR'])));
['Warranty AUR'] = C: IF(['Eligible Units'] = 0, 0, IF(['Attach Rate'] = 0, 0, ['Warranty Dollars'] \ (['Eligible Units'] * ['Attach Rate'])));
#EndRegion

FEEDERS;
#Region : Feeders
['Eligible Units'] => ['Warranty Dollars'];
['Attach Rate'] => ['Warranty Dollars'];
['Warranty AUR'] => ['Warranty Dollars'];
#EndRegion

#Region : Rule Footer
#############################
##~~ End Rule File ~~##
#############################
#EndRegion
