SKIPCHECK;
#Region : Rule Header
#############################
##~~ Start Rule File ~~##
#############################
# DEVELOPER : Steve Waterbury
# CREATED ON : 2026-04-15
# LAST UPDATE: 2026-04-15
# CUBE       : Merch Channel Split
#
# STOR = remainder after all other channel splits are subtracted from 1.
# Gate: Calculated version, unclosed period.
#
#### CHANGE HISTORY:
### 2026-04-15  Steve Waterbury  Initial creation - STOR remainder rule
#
#EndRegion

#Region : STOR Remainder
['STOR', 'Split Pct'] = N:
  IF(ATTRS('Merch Version', !Merch Version, 'Version_Type') @<> 'Calculated', STET,
  IF(ATTRN('Merch Version', !Merch Version, 'Last_Closed_Period') <> 0
     & ATTRN('Merch Time Period', !Merch Time Period, 'Start_Date')
       <= ATTRN('Merch Version', !Merch Version, 'Last_Closed_Period'), STET,
  1 - DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'Ecom', 'Split Pct')
    - DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'Retail', 'Split Pct')
    - DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'GEEK', 'Split Pct')
    - DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'SPEC', 'Split Pct')
    - DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'VIRT', 'Split Pct')
    - DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'WHSE', 'Split Pct')
  ));
#EndRegion

FEEDERS;
#Region : Feeders
['Ecom', 'Split Pct'] => DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'STOR', 'Split Pct');
['Retail', 'Split Pct'] => DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'STOR', 'Split Pct');
['GEEK', 'Split Pct'] => DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'STOR', 'Split Pct');
['SPEC', 'Split Pct'] => DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'STOR', 'Split Pct');
['VIRT', 'Split Pct'] => DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'STOR', 'Split Pct');
['WHSE', 'Split Pct'] => DB('Merch Channel Split', !Merch Version, !Merch Time Period, !Merch Category, 'STOR', 'Split Pct');
#EndRegion

#Region : Rule Footer
#############################
##~~ End Rule File ~~##
#############################
#EndRegion